body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.classCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}
.level1 {
    width: 100vw;
}
.level {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: center;
}
.classCard__info {
    display: flex;
    flex-direction: column;
    min-width: 5vw;
    max-width: 50vw;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem 0.2rem;
    border: 1px solid #cccccc;
}
.classCard__info-img {
    width: 100%;
    height: auto;
    min-width: 5vw;
}

table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    color: #000080;
}

.uploadForm {
    display: flex;
    flex-direction: column;
}

.level2 {
    transform: scale(0.9);
}
.level3 {
    transform: scale(0.8);
}
.level4 {
    transform: scale(0.7);
}
.level5 {
    transform: scale(0.6);
}
.level6 {
    transform: scale(0.5);
}
.level7 {
    transform: scale(0.45);
}
.level8 {
    transform: scale(0.4);
}
.level9 {
    transform: scale(0.35);
}
.level10 {
    transform: scale(0.3);
}
.level11 {
    transform: scale(0.25);
}
